<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    
</head>

<body>
    <div class="logo">
        <h1>TODO-LIST  <i class="fas fa-list-check"></i> </h1>
    </div>
    <header>
       
        <div class="container">
            <div class="input-box">
                <form action="/create-task" method="post">
                    <input type="text"  style="font-weight: 700;" name="description" required placeholder="enter the task">
                    <label for="date" style="font-weight: 700;">Due date</label>
                    <input type="date" name="date" id="date" >
                  <span>
                    <label for="category"  style="font-weight: 700;" > choose a category:</label>
                    <select name="category" id="category">
                        <option value="work">work</option>
                        <option value="home">home</option>
                        <option value="gym">gym</option>
                        <option value="office">office</option>
                        <option value="others">others</option>

                    </select>
                </span>
                    <button id="add"><i class="fas fa-plus-circle"></i></button>

                </form>

          
            </div>
            <div class="index">
                <span> <i class="fas fa-list-check"></i> task</span> <span id="due"> <i class="fas fa-calendar"></i> due date  </span> <span> <i class="fas fa-code-branch"></i> category</span>
            </div>
            <div class="display-box">
                <ul>



                    <% for(let i of task) { %>
                        <div class="task">
                      <li>
                            
                            
                            
                       

                            <input type="checkbox" onclick="clickme()" name="<%= i._id %>"  id="tick">
                            <span class="desc"  style="font-weight: 700;" id="desc">
                                <%=i.description%>
                            </span>
                            <span id="due-date"><%=i.date%></span>
                            <span id="type">
                               <span id="cat" > <%=i.category%></span>
                                <span id="trash"> <a href="/delete-task/?id=<%=i._id%>"><i class="fas fa-trash "></i></a></span>
                            </span>
                     
                  
                          
                          
                        </li>
                    </div>
                     
 <% } %>









                </ul>

            </div>
        </div>
    </header>
    <script type="text/javaScript" src="/js/home.js"></script>
</body>

</html>